@import '../../scss/colors.scss';

.title-container-main {
  display: flex;
  flex-direction: column;
  // gap: 4px;

  h1 {
    color: $secondary;
    font-size: 38px;
  }

  h5 {
    color: $primary;
    font-size: 20px;
    font-weight: 500;
  }
  
  button {
    all: unset;
    width: fit-content;
    cursor: pointer;
  }
}