.input-container {
    display: flex;
    flex-direction: column;

    .label-enabled {
        position: relative;
        top: 15px;
        transition: .3s;
    }

    .label-focused {
        position: relative;
        top: 0px;
        transition: .3s;
    }

    label {
        transition: .3s;
        cursor: text;
    }

    .content {
        background-color: transparent;
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
        border-bottom: 1px solid #000;
    }

    .content-file {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            width: 40%;
            object-fit: contain;
        }
    }

    .file-input {
        visibility: hidden;
        position: absolute;
    }
    
    .file-button {
        margin-bottom: 5px;
    }

    .content:focus {
        outline: none;
        border-bottom: 2px solid #000;
    }
}