.contato{
    display: flex;
    justify-content: center;


    .contato-container{
        width: 100%;

        .cabecalho-contato{
            display: flex;
            align-items: center;
            text-align: center;

            width: 100%;
            gap: 50px;
            padding: 0px 0px 22px 0px;

            img{
                width: 131px;
                height: 31px;

                margin-top: 37px;
                margin-left: 65px;
            }

            .links{
                margin-top: 57px;
                margin-left: 80px;

                .link{
                    margin-left: 40px;

                    color: #000000;
                    text-decoration: none;
                    font: 400 14px 'Kadwa';
                }
            }

            .baixar{
                display: flex;
                justify-content: center;
                align-items: center;

                width: 176px;
                height: 66px;

                margin-top: 39px;
                margin-left: 100px;

                border: 1px solid #000000;
                border-radius: 80px;
                background-color: #478D4E;

                img{
                    margin: 0;
                    width: 110px;
                    height: auto;
                }
            }
            .baixar:hover{
                width: 180px;
                background-color: #64c56d;
            }
        }
    }

    .barra-inicio{
        border: 1px solid #6F6F6F;
        opacity: 0.6;
    }

    .contato-container2{
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 35px;

        .link-costura{
            text-decoration: none;
            color: #000000;
        }

        img{
            width: 400px;
            height: 400px;
        }
        
        h1{
            margin-top: -150px;
            font: 400 92px 'Anton';
        }

        .barra-meio{
            margin-top: -30px;
            width: 960px;
            border: 0.2px solid  #6F6F6F;
            opacity: 0.3;
        }

        .iniciarConversa{
            display: flex;
            justify-content: center;
            align-items: center;

            width: 197px;
            height: 66px;
            margin-top: 35px;

            border-radius: 80px;
            background-color:#478A77;

            .link-conversa{
                text-decoration: none;
            }

            h2{
                font: 400 18px 'Kadwa';
                color: #fff;
            }
        }

        .baixar{
            margin-top: 100px;
            padding: 0px 0px 150px 0px;

            h2{
                font: 400 18px 'Kadwa';
            }
    
            .link-baixar{
                text-decoration: none;
                color: #6CC1F5;
    
                h3{
                    margin-top: -15px;
                    text-align: center;
                    font: 400 18px 'Kadwa';
                }
            }
        }
    }
}
