.page-camisetas{
    display: flex;
    background-color: #6F6F6F;
    flex-direction: column;
    align-items: center;
    
    .camisetas-container{
        width: 1423px;
        height: 980px;
        z-index: 1;
        background-color: #000;

        h1{
            margin-top: 135px;

            text-align: center;
            font: 400 98.74px 'Anton';
            color: #fff;
        }
        
    }

    .borrao2{
        display: flex;
        justify-content: center;
        position: relative;

        margin-top: 100px;

        img{
            position: absolute;
            width: 1423px;
            height: 320px;
            margin: -250px;
        }
    }

    .camisetas-unicas{
        display: flex;
        align-items: center;
        flex-direction: column;

        .titulo-camisetas-unicas{
            text-align: center;
            font: 400 55px 'Anton';
            color: #000;
            z-index: 1;
            margin: 0;
            margin-top: 120px;
        }

        .descricao-camisetas-unicas{
            max-width: 900px;
            text-align: center;
            margin: 0;
    
            font: 400 22px 'Kadwa';
            z-index: 1;
            color: #FFFFFF;
        }

        .tipos-camisetas{
            display: flex;
            position: relative;
            align-items: center;
            flex-direction: column;

            width: 920px;
            margin-top: 80px;

            padding: 0px 0px 70px 0px;
            
            background-color: #D9D9D9;
            border-radius: 100px;
        }

        .titulo-outras-camisetas{
            text-align: center;
            font: 400 55px 'Anton';
            color: #000;

            margin: 0;
            margin-top: 220px;
            z-index: 1;
        }

        .descricao-outras-camisetas{
            max-width: 880px;
            text-align: center;
    
            font: 400 22px 'Kadwa';
            z-index: 1;
            color: #FFFFFF;
        }
    }
 
}