@import '../../scss/colors.scss';

.table-container {
  border-radius: 35px; 
  overflow: hidden; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.356);
}

.table-container-main {
  // background-color: #f9f9f9;
  border-radius: 8px;
  // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 4rem;

  .table-functions {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 20px;

    .search-input {
      flex: 18;
    }

    .register-button {
      flex: 1
    }

    div {
      display: flex;
      align-items: center;

      button {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 12px;
        background-color: $secondary;
        color: white;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.3s;

        svg {
          margin-right: 5px;
        }

        &:hover {
          background-color: $primary-hover;
        }
      }
    }

    input {
      border: 1px solid #ccc;
      border-radius: 24px;
      padding: 24px;
      flex: 1;
      transition: border-color 0.3s;
      background-color: $foreground;

      &:focus {
        border-color: $primary;
        outline: none;
      }
    }
  }

  table {
    border-radius: 10%;
    width: 100%;
    border-collapse: collapse;

    thead {
      background-color: $foreground;
      color: white;
      border-top-left-radius: 8px; // Bordas arredondadas no canto superior esquerdo
    border-top-right-radius: 8px;
      border-radius: 10%;


      th {
        padding: 20px;
        text-align: left;
        cursor: pointer;
        color: $text;

        &:hover {
          background-color: $foreground;
        }

        .text {
          display: flex;
          justify-content: space-between;
          align-items: center;

          h2 {
            margin: 0;
          }
        }
      }
    }

    tbody {
      tr {
        background-color: $primary;
      }

      td {
        padding: 20px;
        border-left: 1px solid #ddd;
        word-wrap: break-word;
        color: $foreground;

        &:last-child {
          text-align: left;
        }
      }
    }
  }
}